// Base
@import './base/reset';

// Font
@import './fonts/fonts';

// Sass-utils
@import './sass-utils/variables';
@import './sass-utils/center';
@import './sass-utils/trans';
@import './sass-utils/disable-mob-hover';

// Global
@import './sass-utils/global';

// UI / DROPDOWN
@import './components/overlay';
@import './components/burger';
@import './components/dropdown';
@import './components/checkbox';
@import './components/breadcrumb';
@import './components/article';
@import './components/mentioned';

// Layouts
@import './layout/header';
@import './layout/hero';
@import './layout/experience';
@import './layout/about';
@import './layout/products.scss';
@import './layout/news';
@import './layout/categories';
@import './layout/contact';
@import './layout/stories';
@import './layout/footer';

.items-wrap {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 50px;
	@media screen and (max-width: 768px) {
		grid-template-columns: repeat(1, 1fr);
		gap: 20px;
	}

	padding-top: 92px;
	padding-bottom: 82px;
	@media screen and (max-width: 992px) {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	&__left {
		grid-column: 2 span;
		@media screen and (max-width: 375px) {
			grid-column: 1 span;
		}
	}

	&__right {
		min-width: 300px;
	}
}

.breadcrumb-position {
	margin-top: 42px;
	margin-bottom: 62px;
}
