.breadcrumb {
	display: flex;
	flex-wrap: wrap;
	gap: 15px 35px;
	// .breadcrumb__item

	// .breadcrumb__link

	&__link {
		position: relative;
		display: block;
		color: $blue;
		font-family: 'Lexend', serif;
		font-size: 15px;
		font-weight: 400;
		line-height: normal;
		opacity: 0.5;
		transition: opacity 150ms ease;

		&::after {
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: -21px;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background-color: $blue;
			opacity: 0.2;
			transition: opacity 150ms ease;
		}

		@include hover {
			opacity: 1;
			&::after {
				opacity: 1;
			}
		}
	}
}
