<section class="about">
	<div class="about__inner">
		<div class="about__item">
			<h2>Coalinga Medical Center</h2>
			<p>
				Having trust in your healthcare provider can mean many different things
				for different people. It starts with great doctor-patient relationships,
				state of the art equipment, easy access to care, professionalism,
				respect for your privacy and service with a smile. Best of all you don’t
				have to drive far for superior healthcare!
			</p>
		</div>
		<div class="about__item">
			<h2>Our Mission</h2>
			<p>
				Coalinga is committed to provide personalized, quality-oriented
				healthcare and drugs through an ethically and fiscally responsible
				service network, enhancing the health of the people we serve.
			</p>
		</div>
		<div class="about__item">
			<h2>Our Vision</h2>
			<p>
				Through the efforts of a highly qualified and dedicated physician and
				employee staff, and through alliances with other regional providers,
				Coalinga med center addresses the health care needs of the residents of
				the City of Coalinga and the surrounding area.
			</p>
		</div>
	</div>
</section>
