<aside class="categories categories--margin">
	<div class="categories__inner">
		<h3 class="categories__title" data-animate>Categories:</h3>
		<ul>
			<li data-animate>
				<a href="#">Antibiotics</a>
			</li>
			<li data-animate>
				<a href="#">Canadian Viagra</a>
			</li>
			<li data-animate>
				<a href="#">Coupons and Discounts</a>
			</li>
			<li data-animate>
				<a href="#">Drugs & Supplements</a>
			</li>
			<li data-animate>
				<a href="#">Erectile Dysfunction</a>
			</li>
			<li data-animate>
				<a href="#">Female Viagra (Viagra for Women)</a>
			</li>
			<li data-animate>
				<a href="#">General Health</a>
			</li>
		</ul>
	</div>
</aside>
