<section class="contact">
	<div class="container contact__container">
		<div class="contact__info">
			<div class="contact__top-text">Need help?</div>
			<div class="contact__title">
				Leave your contact details and we will be happy to answer all your
				questions.
			</div>
		</div>
		<div class="contact__form-wrapper">
			<form action="#" class="form contact__form">
				<div class="form__item">
					<div class="form__wrap">
						<input
							class="form__input"
							type="text"
							name="name"
							id="name"
							placeholder="Your Name..."
							required
						/>

						<input
							class="form__input"
							type="email"
							name="email"
							id="email"
							placeholder="Your Email..."
							required
						/>
					</div>
					<textarea
						class="form__textarea"
						placeholder="Your Question..."
						name="question"
						id="question"
						cols="30"
						rows="10"
					></textarea>
				</div>
				<div class="form__privacy">
					<div class="form__personal">
						<div class="cntr">
							<input checked type="checkbox" id="cbx" class="hidden-xs-up" />
							<label for="cbx" class="cbx"></label>
						</div>
						<div>
							By clicking the «Send» button, you agree for the
							<a href="#">processing of personal data </a>
						</div>
					</div>
					<button type="submit" class="form__btn">Send</button>
				</div>
			</form>
		</div>
	</div>
</section>
