<section class="experience">
	<div class="container experience__container">
		<div class="experience__item">
			<div class="experience__number">10</div>
			<div class="experience__text">years in the industry</div>
		</div>
		<div class="experience__item">
			<div class="experience__number">40+</div>
			<div class="experience__text">Highly qualified specialists</div>
		</div>
		<div class="experience__item">
			<div class="experience__number">99%</div>
			<div class="experience__text">Positive Feedback</div>
		</div>
	</div>
</section>
