<footer class="footer">
	<div class="footer__container container">
		<div class="footer__left">
			<div class="footer__privacy">
				<span>© 2023 «Coalinga Medical Center» All Rights reserved.</span>
				<a href="#"> Terms Conditions and Privacy Policy </a>
			</div>
		</div>
		<div class="footer__right">
			<div class="footer__contact">
				<span>Attn: Administration1191 Phelps</span>
				<span>Ave.Coalinga CA, 93210</span>
				<span>Phone: (559) 935-6562</span>
				<div class="footer__email">
					<span>Email:</span>
					<a href="mailto:info@coalingamedicalcenter.net">
						info@coalingamedicalcenter.net
					</a>
				</div>
			</div>
			<ul class="footer__list">
				<li>
					<a href="#" class="footer__link">About Us</a>
				</li>
				<li>
					<a href="#" class="footer__link">Our Services</a>
				</li>
				<li>
					<a href="#" class="footer__link">Patient Rights</a>
				</li>
				<li>
					<a href="#" class="footer__link">News</a>
				</li>
				<li>
					<a href="#" class="footer__link">Contact Us</a>
				</li>
			</ul>
		</div>
	</div>
</footer>
