<header class="header header--fixed">
	<div class="header__container container">
		<!-- Logo -->
		<a href="#" class="header__logo logo"
			><img width="210" height="68" src="./assets/img/logo.svg" alt="logo"
		/></a>
		<!-- Logo -->

		<div class="header__navigation">
			<nav class="nav header__nav">
				<ul class="nav__list">
					<li>
						<div class="dropdown" data-dropdown>
							<button class="dropdown__btn">
								<span>About Us</span>
								<svg class="dropdown__icon">
									<use
										xlink:href="assets/img/svg/sprite.svg#arrow-bottom-icon"
									></use>
								</svg>
							</button>
							<ul class="dropdown__menu">
								<li class="dropdown__item">
									<a href="#" class="dropdown__link">Example</a>
								</li>
								<li class="dropdown__item">
									<a href="#" class="dropdown__link">Example</a>
								</li>
								<li class="dropdown__item">
									<a href="#" class="dropdown__link">Example</a>
								</li>
								<li class="dropdown__item">
									<a href="#" class="dropdown__link">Example</a>
								</li>
								<li class="dropdown__item">
									<a href="#" class="dropdown__link">Example</a>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<div class="dropdown" data-dropdown>
							<button class="dropdown__btn">
								<span>Our Services</span>
								<svg class="dropdown__icon">
									<use
										xlink:href="assets/img/svg/sprite.svg#arrow-bottom-icon"
									></use>
								</svg>
							</button>
							<ul class="dropdown__menu">
								<li class="dropdown__item">
									<a href="#" class="dropdown__link">Example</a>
								</li>
								<li class="dropdown__item">
									<a href="#" class="dropdown__link">Example</a>
								</li>
								<li class="dropdown__item">
									<a href="#" class="dropdown__link">Example</a>
								</li>
								<li class="dropdown__item">
									<a href="#" class="dropdown__link">Example</a>
								</li>
								<li class="dropdown__item">
									<a href="#" class="dropdown__link">Example</a>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<a href="#" class="nav__link border-bottom-line">Patient Rights</a>
					</li>
					<li>
						<a href="#" class="nav__link border-bottom-line">News</a>
					</li>
					<li>
						<a href="#" class="nav__link border-bottom-line">Contact Us</a>
					</li>
				</ul>
			</nav>
			<div class="header__buttons">
				<button class="btn header__btn">Live Chat Support</button>
			</div>
		</div>

		<!-- Burger -->
		<div class="burger">
			<span></span>
		</div>
		<!-- Burger -->
	</div>
</header>
