<section class="hero">
	<h1 class="visibility-hidden">A Wide Selection of High-Quality Medicines</h1>
	<div class="hero__container container">
		<div class="hero__inner">
			<div class="hero__info">
				<img src="./assets/img/heroTitle.svg" alt="title" class="hero__title" />
				<form action="#" class="search-form hero__form">
					<input
						type="text"
						class="search-form__input"
						placeholder="Search Medicines..."
					/>
					<button
						type="submit"
						class="search-form__btn"
						aria-label="click to search"
					>
						<svg class="search-form__icon">
							<use xlink:href="assets/img/svg/sprite.svg#search-icon"></use>
						</svg>
					</button>
				</form>
				<div class="pill-cards">
					<div class="pill-card">
						<div class="pill-card__title">Omnipen</div>
						<div class="pill-card__subtitle">Ampicillin Ampicillin</div>
						<a href="#" class="pill-card__actions">
							<span>Buy Now</span>
							<svg aria-colspan="pill-card__arriw" class="search-form__icon">
								<use
									xlink:href="assets/img/svg/sprite.svg#arrow-right-circle"
								></use>
							</svg>
						</a>
					</div>
					<div class="pill-card">
						<div class="pill-card__title">Biaxin</div>
						<div class="pill-card__subtitle">Clarithromycin</div>
						<a href="#" class="pill-card__actions">
							<span>Buy Now</span>
							<svg aria-colspan="pill-card__arriw" class="search-form__icon">
								<use
									xlink:href="assets/img/svg/sprite.svg#arrow-right-circle"
								></use>
							</svg>
						</a>
					</div>
					<div class="pill-card">
						<div class="pill-card__title">Viagra</div>
						<div class="pill-card__subtitle">Sildenafil</div>
						<a href="#" class="pill-card__actions">
							<span>Buy Now</span>
							<svg aria-colspan="pill-card__arriw" class="search-form__icon">
								<use
									xlink:href="assets/img/svg/sprite.svg#arrow-right-circle"
								></use>
							</svg>
						</a>
					</div>
				</div>
			</div>
			<div class="hero__img">
				<img
					width="882"
					height="550"
					src="./assets/img/content/hero/heroImg.png"
					alt="img"
				/>
			</div>
		</div>
	</div>
</section>
