<aside class="mentioned mentioned--margin">
	<span data-animate>Products mentioned</span>
	<div class="mentioned__cards">
		<a href="#" class="mentioned-card" data-animate>
			<div class="mentioned-card__img">
				<img
					src="./assets/img/content/inner/mentionedProducts/1.png"
					alt="img"
				/>
			</div>
			<div class="mentioned-card__info">
				<div class="mentioned-card__title">Zithromax</div>
				<div class="mentioned-card__subtitle">Azithromicin</div>
				<div class="price-box mentioned-card__price">
					$ <span>0.90</span> Per pill
				</div>
			</div>
		</a>
		<a href="#" class="mentioned-card" data-animate>
			<div class="mentioned-card__img">
				<img
					src="./assets/img/content/inner/mentionedProducts/2.png"
					alt="img"
				/>
			</div>
			<div class="mentioned-card__info">
				<div class="mentioned-card__title">Cipro</div>
				<div class="mentioned-card__subtitle">Ciprofloxacin</div>
				<div class="price-box mentioned-card__price">
					$ <span>0.90</span> Per pill
				</div>
			</div>
		</a>
		<a href="#" class="mentioned-card" data-animate>
			<div class="mentioned-card__img">
				<img
					src="./assets/img/content/inner/mentionedProducts/3.png"
					alt="img"
				/>
			</div>
			<div class="mentioned-card__info">
				<div class="mentioned-card__title">Levitra</div>
				<div class="mentioned-card__subtitle">Vardenafil</div>
				<div class="price-box mentioned-card__price">
					$ <span>0.90</span> Per pill
				</div>
			</div>
		</a>
	</div>
</aside>
