<section class="products">
	<div class="products__top">
		<h3 class="products__title">Featured Products</h3>
		<div class="products__btns">
			<button class="products__btn product-prev-btn">
				<svg class="products__btn-icon">
					<use href="./assets/img/svg/sprite.svg#arrow-left"></use>
				</svg>
			</button>
			<button class="products__btn product-next-btn">
				<svg class="products__btn-icon products__btn-icon_rotated">
					<use href="./assets/img/svg/sprite.svg#arrow-left"></use>
				</svg>
			</button>
		</div>
	</div>

	<!--  -->

	<!-- Slider main container -->
	<div class="swiper products-swiper">
		<!-- Additional required wrapper -->
		<div class="swiper-wrapper">
			<!-- Slides -->
			<div class="swiper-slide">
				<div class="products-card">
					<div class="products-card__img">
						<img src="" alt="img" />
					</div>
					<h4 class="products-card__title">Zithromax</h4>
					<p class="products-card__subtitle">Azithromicin</p>
					<div class="products-card__price">$ <span>0.90</span> Per pill</div>
					<a href="#" class="products-card__link">View Offers</a>
				</div>
			</div>
		</div>

		<!-- If we need navigation buttons -->
		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>
	</div>

	<!--  -->
</section>
